.main{
    width: 100%;
    height: 650px;
    background-color: antiquewhite;
}
button{
    background-color:rgb(77, 74, 74);
    color: blanchedalmond;
    padding: 5px;
    margin:5px 10px 0 0;
    border-radius: 5px;
    float: right;
}
.sub h1{
    display: inline;
    color: cadetblue;
}

.sub{
    width: 80%;
    height: 40px;
    margin: auto;
    border:2px solid rgb(14, 55, 97);
    border-radius: 5px;
}